.root {
  @apply flex flex-col absolute top-20 bg-white p-4 rounded-lg z-50 overflow-scroll;

  width: 640px;
  border: 1px solid #ebebeb;

  .divider {
    height: 100%;
    width: 1px;
    background-color: #ebebeb;
  }

  .calendarContainer {
    @apply flex;
  }
  .buttonGroup {
    @apply mt-10 text-center flex justify-end;

    button + button {
      margin-left: 12px;
    }
  }

  & .cancelBtn {
    @apply mobile:w-full mobile:fixed mobile:bg-white mobile:left-0 mobile:bottom-0;

    @screen desktop {
      margin-left: 12px;
    }

    @screen mobile {
      padding: 24px 24px 58px;
      z-index: 3;
    }
  }
}
