.root {
  @apply fixed left-0 top-0 w-full bg-white flex justify-between items-center;

  height: 68px;
  padding: 0 32px;
  border-bottom: 1px solid var(--border-gray);
  z-index: 99;

  & > a {
    @apply text-pri-400 text-xl font-bold;
  }

  & > .user {
    @apply text-sm flex items-center font-medium;

    color: var(--text-body);

    & .naverLoginBtn {
      height: 45px;

      & img {
        width: 45px;
      }
    }

    & .profile {
      @apply overflow-hidden;

      width: 40px;
      height: 40px;
      margin: 0 8px;
      border-radius: 40px;
      background-color: var(--pri-100);
      border: 1px solid var(--border-gray);
    }

    // & .logoutBtn {}
  }
}
