.root {
  @apply fixed left-0 top-0 w-full flex items-center justify-between bg-white;

  height: 48px;
  padding: 0 24px;
  z-index: 97;

  & a {
    @apply flex items-center font-bold;

    & div {
      width: 24px;
      margin-right: 10px;
    }
  }
  & h1 {
    @apply font-bold;

    font-size: 22px;
  }
}
