.root {
  @apply flex items-center cursor-pointer;

  .label {
    @apply text-label1 cursor-pointer;
    margin-left: 6px;
    color: var(--text-body);
  }

  &.isInitiative {
    padding: 14px 26px;
  }
}
