.root {
  @apply fixed w-1/3 bg-white top-0 right-0;
  height: 100vh;
  z-index: 999;

  &.show {
    animation: slideIn 0.3s ease-in-out;
  }

  &.close {
    animation: slideOut 0.3s ease-in-out forwards;
  }

  .content {
    @apply p-6;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
