.root {
  @apply flex items-center justify-between;
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-gray);

  .statusButton {
    @apply flex items-center rounded-lg;
    border: 1px solid var(--light-gray);

    img + label {
      margin-left: 6px;
    }
  }

  .iconsContainer {
    @apply flex items-center gap-5;
  }
}
