@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pri-100: #f4fcf9;
  --pri-200: #9be8cd;
  --pri-600: #12bc80;
  --pri-400: #18cb8c;
  --pri-800: #00aa81;
  --sub-blue-100: #f1f5fe;
  --sub-blue-400: #829df0;
  --sub-purple-100: #f7f3fe;
  --sub-purple-400: #a988f8;
  --sub-orange-100: #fff7ec;
  --sub-orange-400: #fbbe63;
  --text-heading: #363636;
  --text-body: #7d7d7d;
  --text-disabled: #adaeb0;
  --content-black: #1e1e1e;
  --content-gray1: #a1a1a1;
  --content-gray2: #cccccc;
  --content-gray3: #ebebeb;
  --bg-gray: #f9f9f9;
  --border-gray: #ebebeb;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f6f7f9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background-color: #f6f7f9;
  }
}

#container {
  @screen desktop {
    background-color: inherit;
    padding-left: 68px;
    padding-top: 68px;
  }
  @screen mobile {
    padding-top: 48px;
  }
}
