.root {
  & h2 {
    @apply text-xl font-bold text-pri-400 mobile:text-base;
  }

  & input {
    @apply text-4xl font-bold bg-transparent border-0 outline-none cursor-default max-w-full;

    margin-top: 8px;
    color: var(--text-heading);
  }

  & p {
    @apply desktop:hidden text-sm;

    color: var(--text-body);
  }

  & button {
    @apply desktop:hidden text-base text-white w-full font-bold;

    height: 48px;
    margin-top: 30px;
    border-radius: 8px;
    background-color: var(--pri-400);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }

  @screen mobile {
    @apply bg-white;

    padding: 24px;

    & input {
      margin: 0 0 5px;
      font-size: 26px;
    }
  }
}

.dashBoard {
  @apply w-full mx-auto;

  padding: 40px 80px;

  @screen mobile {
    padding: 0;
  }
}
