.root {
  @screen desktop {
    grid-area: header;
  }

  & .inputContainer {
    @apply flex items-center;
  }

  & .buttonContainer {
    @apply flex flex-row justify-between gap-x-2;

    & button {
      @apply flex w-10 h-10 p-2 items-center justify-center;

      border: 1px solid var(--content-gray3);
      background-color: #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
      margin-top: 30px;
    }
  }

  & .moButtonContainer {
    @apply flex;

    & button {
      @apply w-10 h-10 flex justify-center items-center mr-2;

      margin-top: 20px;
      border: 1px solid var(--content-gray3);
      background-color: #fff;
    }
  }

  & h2 {
    @apply text-xl font-bold text-pri-400 mobile:text-lg mobile:font-semibold;
  }

  & p {
    @apply desktop:hidden text-sm;

    color: var(--text-body);
  }

  & .objectivesTitle {
    @apply flex-1 text-4xl font-bold bg-transparent border-0 outline-none cursor-default max-w-full;

    margin-top: 8px;
    color: var(--text-heading);
  }

  & button {
    @apply desktop:hidden text-base text-white w-full font-bold;

    border-radius: 8px;
    background-color: var(--pri-400);
  }

  .objectChangeButton {
    @apply relative;
  }

  @screen mobile {
    @apply bg-white;

    padding: 24px;

    & .objectivesTitle {
      margin: 5px 0 0;
      font-size: 24px;
      line-height: 34px;
    }
  }
}

.dashBoard {
  @apply w-full mx-auto;

  padding: 40px 80px;

  @screen mobile {
    padding: 0;
  }
}
