.chartPieWrap {
  width: 24px;
  height: 24px;
  transform: scaleX(-1);
  transform-origin: center;

  .chartPie {
    transform: rotate(-90deg);
    transform-origin: center;
  }
  .pieCircle {
    transform-origin: center;
    fill: none;
    stroke-width: 4px;

    &.pie_bg {
      stroke: #f3f4f5;
      stroke-width: 5px;
      stroke-dasharray: (2 * 3.1415926536 * 10);
      stroke-dashoffset: 0;
      animation: chartLoad 1s forwards;
      transform: scaleX(-1) rotate(-180deg);
    }
    &.pie_circle1 {
      stroke: var(--sub-orange-400);
    }
  }
}
