.root {
  @apply relative inline-block;

  & .selectedValue {
    @apply bg-white mobile:text-sm rounded-lg;

    height: 40px;
    line-height: 40px;
    padding: 0 38px 0 12px;
    border: 1px solid var(--border-gray);
    background: right 7px top 50%/22px no-repeat #fff
      url('/images/down-arrow.png');

    &.open {
      border-color: var(--pri-400);

      & + ul {
        @apply block;
      }
    }

    @screen mobile {
      height: 36px;
      line-height: 36px;
      padding: 0 34px 0 12px;
      background-position: top 50%/12px;
    }
  }

  & .options {
    @apply hidden absolute bg-white w-full overflow-hidden;

    margin-top: 4px;
    padding: 6px 4px;
    border-radius: 8px;
    border: 1px solid var(--border-gray);
    box-shadow: 0 0 20px 0 rgba(102, 102, 102, 0.08),
      0 0 6px 0 rgba(102, 102, 102, 0.04);
    z-index: 2;

    & > li {
      height: 40px;
      line-height: 40px;

      & button {
        @apply cursor-pointer w-full text-left whitespace-nowrap text-ellipsis;

        padding: 0 9px;
        color: var(--content-gray1);

        &:hover,
        &.selected {
          @apply font-bold;

          color: var(--text-heading);
        }
      }
    }
  }
}
