.root {
  @apply flex flex-1 items-center justify-between;

  .additionalDataContainer {
    @apply flex ml-3;
    span + span {
      margin-left: 6px;
    }
  }

  .titleContainer {
    @apply flex items-center;

    & > label {
      @apply ml-1.5;
    }
  }

  .deadline {
    @apply text-label2;
    color: #ed3e3e;
  }

  .count {
    @apply text-label2;
    color: var(--text-heading);
  }
}
