.root {
  @apply h-10 flex rounded-lg items-center cursor-pointer;
  border: 1px solid var(--content-gray3);
  margin-bottom: 6px;

  .code {
    @apply w-1 h-6 bg-orange-400 rounded-r-sm;
  }

  .title {
    @apply text-label1 ml-3;
    color: var(--text-body);
  }
}
