.root {
  @apply fixed bottom-0 left-0 right-0 top-0 h-full w-full;

  z-index: 99;

  & .background {
    @apply absolute h-full w-full left-0 top-0;

    animation: fadeOut linear 0.2s forwards;
    background-color: rgba(30, 30, 30, 0.4);
  }

  & .container {
    @apply absolute left-0 bottom-0 right-0 w-full bg-white;

    padding: 24px 24px 50px;
    animation: slideUp linear 0.2s forwards;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    & .header {
      @apply relative;

      & h2 {
        @apply font-semibold text-lg;
      }

      & .closeBtn {
        @apply absolute flex items-center justify-between right-0 top-0;
      }

      & p {
        @apply text-base;

        margin-top: 6px;
        line-height: 24px;
        color: var(--text-body);
      }
    }

    & .inner {
      margin-top: 24px;
    }
  }

  &.open {
    & .background {
      animation-name: fadeIn;
    }

    & .container {
      animation-name: slideDown;
    }
  }

  & button {
    &[class*='submit-btn'] {
      @apply text-base font-semibold rounded-lg w-full;

      height: 60px;
      margin-top: 24px;
      color: var(--text-body);
      border: solid 2px var(--border-gray);
    }

    &[class*='select-btn'] {
      @apply w-full text-left text-lg rounded-lg mb-2;

      height: 58px;

      &[class*='selected'] {
        background: right 12px top 50%/24px no-repeat #fff
          url('/images/bottom-sheet-checked.png');
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
