.root {
  @apply flex cursor-pointer w-full items-center;
  padding: 12px 24px;
  border-bottom: 1px solid var(--border-gray);

  .titleContainer {
    @apply flex;
    flex: 4;
  }

  .title {
    @apply text-bodyR ml-2;

    .active {
      @apply line-through;
    }
  }
}
