.root {
  display: grid;
  padding: 90px 0px 0px 90px;
  grid-template-areas:
    'header header header'
    'main main aside';
  grid-column-gap: 40px;
  grid-row-gap: 10px;

  @screen mobile {
    padding: 20px;
    grid-template-areas:
      'header'
      'main'
      'aside';
  }
}
